{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="container mt-3">
    <div class="row">
        <div class="col-lg-9 col-xl-10">
             <form method="post" action="">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Order now</button>
            </form>
        </div>
        <div class="col-lg-3 col-xl-2">
            {% for p in products %}
                <div class="d-flex">
                    <div>{{ p.p.name }}</div>
                    <div class="ms-auto">{{ p.n }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

    </div>
{% endblock %}