{% extends 'layouts/base.html' %}

{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-xl-2">
            <form method="get">
            {{ filter.form.as_p }}
                <button type="submit">Filtr</button>
            </form>
        </div>
        <div class="col-lg-9 col-xl-10">
            <div class="row">
                {% for p in object_list %}
                <div class="col-lg-3 position-relative">
                {% if p.has_discount %}<span class="badge bg-danger text-white sale">SALE</span>{% endif %}
                    <a href="{% url 'main:product' p.id %}">
                        <img src="{{ p.image.url }}" alt="{{ p.name }}" class="img-fluid" /><br/>
                        {{ p.name }}
                    </a>
                    {% if p.has_discount %}
                        <br/>
                    <span class="text-primary">${{ p.discount_price }}</span>
                    <span class="text-primary text-decoration-line-through">${{ p.price }}</span>
                    {% else %}
                    <div class="text-primary">${{ p.price }}</div>
                    {% endif %}
                </div>
                {% empty %}
                    <div class="col-12">
                        <h1>Mahsulot topilmadi</h1>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>

{% endblock %}
